<div class="container product">
    <div class="row" data-product-id="<%= @product.id %>">
      <div class="col-md-7 col-xs-12">
        <%= image_tag(@product.image_url, width:"350", class: "img-responsive detail img-zoom", data_zoom_image: "@product.image_url") %>
 
        <% if signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <% end %>
        <%= link_to 'Back', products_path %>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="grid-description-detail">
          <div class="description-detail">
            <div class="">
              <h3><%= @product.name %></h3>
              <h5><%= @product.price %> Eur</h5>
              <h5><%= @product.colour %></h5>
              <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
              <p><%= @product.description %></p>
              <% if signed_in? %> 
                <%= render partial: "stripe" %>
              <% else %>
                <small>To buy this product, please login.</small>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row" data-product-id="<%= @product.id %>">
      <div class="col-md-8 col-xs-12">
          <h4>User Ratings</h4>
          <% if !@product.comments.empty? %>
          <%#= image_tag(@product.image_url, class: "img-responsive detail") %>
          <div class="col-md-3 col-xs-12">
            <div class="container-rating">
              <h5>Good Comment:</h5>
              <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>
              <p>"<%= @product.highest_rating_comment.body%>"</p>
            </div>
          </div><!-- col -->
          <div class="col-md-3 col-xs-12">
            <div class="container-rating">
              <h5>Bad Comment:</h5>
              <div class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>
              <p>"<%= @product.lowest_rating_comment.body%>"</p>
              </div>
            </div><!-- col -->
          <% end %>
          <div class="col-md-6 col-xs-12" id="new">
          <%= render partial: "new_comment" %>
          </div><!-- col -->
      </div><!-- col -->
    </div><!-- row -->
 
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <div class="user-comments">
      <%= render partial: "comments" %>
      <%= will_paginate @comments %>
    </div>
 
</div><!-- /container -->

